<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>News Email</title>
	</head>
	<body>
		<h1>Your Daily News Blast!</h1>

		{{#each blocks}}
			<h2>{{this.feedName}}</h2>

			{{#each this.articles}}
				<a href='{{this.link}}'>{{this.title}}</a>
				<p>{{this.content}}</p>
			{{/each}}
		{{/each}}

	</body>
</html>